*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.app{
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 130px 1fr 40px;
    grid-template-areas: 
     'logo header'
     'menu content'
     'menu footer';
     height: 100vh;
     background-color: #f8f8f8e7;
}
aside.logo{
    grid-area: logo;
}
header.header{
    grid-area: header;
}
aside.menu-area{
    grid-area: menu;
}
main.content{
    grid-area: content;
}
footer.footer{
    grid-area: footer;
}
h2{
    font-size: 8px
}